<app-header titulo="Action Sheet"></app-header>
<ion-button id="open-action">
    abrir action sheet

</ion-button>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reprehenderit facilis earum nam ratione delectus dicta sapiente 
    sequi repellat ipsa dignissimos similique, quam iusto. 
    Iure animi porro nihil laboriosam delectus.</p>
<ion-action-sheet
        trigger="open-action"
        header="Actions"
        [buttons]="actionSheetButtons"
></ion-action-sheet>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reprehenderit facilis earum nam ratione delectus dicta sapiente 
    sequi repellat ipsa dignissimos similique, quam iusto. 
    Iure animi porro nihil laboriosam delectus.</p>
    <ion-button id="open-action-sheet" >
        Click me
    </ion-button>
    <ion-action-sheet
            trigger="open-action-sheet"
            header="Actions"
            [buttons]="actionSheet"
    ></ion-action-sheet>
    <ion-button id="action-sheet" >
        Click 
    </ion-button>
    <ion-action-sheet
            trigger="action-sheet"
            header="Actions"
            [buttons]="actionSh"
    ></ion-action-sheet>
    <ion-button id="open-as">
        abreme
    </ion-button>
    <ion-action-sheet
            trigger="open-as"
            header="Acciones"
            [buttons]="actionShee"
    ></ion-action-sheet>